// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #0c1c4c; //  主色
$secondary : #e46262; //  辅助色
$accent    : #FFC700; //  强调色

$dark      : #1D1D1D;

$positive  : #01A67E;
$warning   : #F7990C;
$negative  : #ff1b28;
$info      : #31CCEC;

@import '~quasar/src/css/variables';
