html {
    font-size : 8px;
}
@media only screen and (min-width: 641px){
    html {
        font-size: 14px !important;
    }
}

body{
    background: #0c1c4c;
    background-repeat-x: no-repeat;
}
p{
    margin: 0 !important;
}
#app{
    color: #ffffff;
}
.dnft-rights,
.dnft-head{
    background-image: linear-gradient(-40deg, #122865 0%, #1E3574 100%);
}

.dnft-hh{
    width: 80vw;
    margin: 0 auto;
}
@media only screen and (min-width: 641px){
    .dnft-hh {
        width: 70vw;
        margin: 0 auto;
    }
}

.dnft-p-short,
.dntf-ff{
    width: 70vw;
    margin: 0 auto;
}
.dnft-main{
    text-align: center;
}
.dnft-p1{
    height: 60rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    background: #122865 url(asset/headBg.png) center fixed;
    background-repeat-x: no-repeat;
}
.dnft-p1 .intro{
    font-size: 2.57rem;
    letter-spacing: 0.06rem;
    line-height: 5rem;
    text-transform: uppercase;
}
.dnft-p1 .short{
    font-size: 1.14rem;
    letter-spacing: 0.04rem;
    line-height: 1.64rem;
    text-transform: capitalize
}
.dnft-p2{
    min-height: 0.86rem;
    padding: 1rem .5rem;
    background-image: linear-gradient(-40deg, #122865 0%, #1E3574 100%);
}
.dnft-p2 .intro{
    font-size: 2.86rem;
    color: #FFFFFF;
    letter-spacing: 0.07rem;
}
.dnft-p2 .short{
    font-size: 1.43rem;
    color: #FFFFFF;
    letter-spacing: 0.03rem;
}
.dnft-p3{
    padding: 3rem 0;
}
.dnft-p3 .intro{
    font-size: 2.57rem;
    letter-spacing: 0.06rem;
}
.dnft-p3 .short{
    font-size: 1.14rem;
    letter-spacing: 0.06rem;
}
.dnft-card{
    padding: 3rem 0;
    min-height: 18rem;
    height: 18rem;
    background-image: linear-gradient(-40deg, #333E80 0%, #415D95 100%);
    border-radius: 1.14rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.dnft-p5 .dnft-card{
    height: max-content;
}
.dnft-p5 .short{
    padding: 0;
}
.dnft-p6 img:hover,
.dnft-card:hover{
transition: .2s ease;
filter: brightness(1.2) contrast(1.1) drop-shadow(2px 4px 6px #333E80);
}
.dnft-card img{
height: 100%;
}
.dntf-card-txt{
display: flex;
flex-flow: column;
padding: 0 3rem;
justify-content: space-around;
align-items: flex-start;
text-align: left;
height: 100%;
width: 100%;
text-transform:capitalize
}
.card-sep{
    width: 70%;
    margin: 1rem 0;
}
.dntf-card-txt .intro{
font-size: 2.57rem;
letter-spacing: 0.075rem;
line-height: 2.57rem;
}
.dntf-card-txt .short{
font-size: 1.143rem;
letter-spacing: 0.04rem;
line-height: 1.64rem;
}

.dnft-h2{
position: relative;
height: 10.5rem
}
.dnft-h2::after{
content:attr(title);
position: absolute;
font-size: 2.57rem;
letter-spacing: 0.02rem;
line-height: 3.07rem;
z-index: 2;
left: 50%;
transform: translateX(-50%);
bottom: 0;
}
.dnft-h2::before{
content:attr(title);
position: absolute;
opacity: 0.04;
font-size: 5.71rem;
z-index: 1;
top: 0;
transform: translateX(-50%);
left: 50%;
}

.dnft-p6-short{
font-size: 1.14rem;
letter-spacing: 0.04rem;
line-height: 1.64rem;
}
.dnft-p6-info{
font-size: 2.57rem;
letter-spacing: 0.08rem;
line-height: 1.93rem;
}
.dnft-p6 .coop-item{
    height: 18rem;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.dnft-p6 img{
    width: 80%;
    margin: 0 auto;
    filter: opacity(0.5);
}

.dnft-p8 .field{
    white-space: pre-line;
    text-align: left;
    font-size: 1.71rem;
    line-height: 3.07rem;
}
.img-wrapper img{
    width: 50%;
    margin-left: 50%;
    margin-top: 2rem;
}

.dnft-rights{
    font-size: 1.14rem;
    letter-spacing: 0.04rem;
    text-align: center;
    line-height: 1.64rem;
}
